@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ds-orange-500: #ff9000;
  --ds-black-500: #27252d;
  --ds-black-400: #312e38;
  --ds-black-300: #3e3b47;
  --ds-white-50: #fff;
  --ds-white-100: #f4ede8;
}

/* Inputs */
input[type='file'] {
  display: none;
}

input[type='text'], input[type='password'] {
  height: 45px;
  background: var(--ds-black-300);
  color: var(--ds-white-100);
  border-radius: 5px;
  padding: 10px;
}

/* Buttons */
button {
  
}

.btn-primary {
  background-color: var(--ds-orange-500);
  color: var(--ds-black-400);
}