@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ds-orange-500: #ff9000;
  --ds-black-500: #27252d;
  --ds-black-400: #312e38;
  --ds-black-300: #3e3b47;
  --ds-black-200: #a3a3a3;
  --ds-white-50: #fff;
  --ds-white-100: #f4ede8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialised;
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* Inputs */
input[type='file'] {
  display: none;
}

input[type='text'], input[type='password'] {
  height: 45px;
  background: var(--ds-black-300);
  color: var(--ds-white-100);
  border-radius: 5px;
  padding: 10px;
}
